#main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 200px;
}
#progressContainer {
  height: 30px;
  display: flex;
  
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
}
#progressBar {
  height: 100%;
  background-color: green;
  width: 0%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}
