.parent {
  height: 100vh;
  width: 100%;
  background-color: black;
}
.card {
  height: 400px;
  width: 300px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top .img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 2px;
}
.top button {
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 4px 8px;
  border-radius: 5px;
  font-size: 13px;
  gap: 3px;
  background-color: transparent;
  color: #dadada;
}
.center {
  background-color: red;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
}
.center h3{
    font-size: 20px;
    font-weight: 500;
}
.center h3 span{
  font-size: 10px;
}
.center h2{
  font-size: 20px;
}
.center .tag{
  display:  flex;
  gap: 5px;
}
.center .tag h4{
  font-size: 14px;
  background-color: #dadada;
}