* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-image: url(https://recipesblob.oetker.in/assets/d8a4b00c292a43adbb9f96798e028f01/1272x764/pizza-pollo-arrostojpg.webp);
  height: 98vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.head {
  display: flex;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 50%;
}
.nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

h2 {
  color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 200px;
}
p {
  color:black;
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.button {
  /* background-color: aliceblue; */
  color: black;
  /* width: 200px; */
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.one {
  border: none;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 250px;
  height: 50px;
}
.two {
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 250px;
  height: 50px;
}
.menu {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: black;
  gap: 10px;
}
.three {
  height: 350px;
  width: 300px;
  color: black;
  /* border: 1px solid grey; */
  border-top: 10px;
  box-shadow: 1px 1px 1px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.four {
  height: 350px;
  width: 300px;
  color: black;
  /* border: 1px solid grey; */
  border-top: 10px;
  box-shadow: 1px 1px 1px grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.five {
  height: 350px;
  width: 300px;
  color: black;
  /* border: 1px solid grey; */
  border-top-left-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  /* border-top-left-radius:10px ; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.three img {
  height: 200px;
  width: 300px;
}
.four img {
  height: 200px;
  width: 300px;
}
.five img {
  height: 200px;
  width: 300px;
}
.three h2 {
  color: black;
  height: 5px;
  width: 5px;
}
.four h2 {
  color: black;
}
.five h2 {
  color: black;
}
.three p {
  margin-left: 10px;
  font-size: 22px;
  color: black;
}
.four p {
  margin-left: 10px;
  font-size: 22px;
  color: black;
}
.five p {
  margin-left: 10px;
  font-size: 22px;
  color: black;
}
h3 {
  margin-left: 10px;
  font-size: 25px;
  color: black;
}
.grey {
  color: grey;
  margin-left: 200px;
}
.img {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 30px;
}
.img1 {
  height: 400px;
  width: 250px;
  border-radius: 10px;
}
.hydrebad {
  /* margin-top: 20px;
  display: grid;
align-items: center;
justify-content: center;
  grid-template-columns: repeat(3, 1fr);
justify-content: space-evenly; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
  border-radius: 10px;
  margin-left: 160px;
}
.col1 {
  color: black;
  height: 100px;
  width: 250px;
  box-shadow: 0px 0px 1px 1px grey;
  border-radius: 10px;
  
}
.col1 h4 {
  color: black;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 30px;
}
.col1 p {
  color: black;
  font-size: 20px;
  padding-right: 125px;
}
.img2 {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.last{
  margin-top: 10px;
  display: flex;

  background-color: rgb(247, 247, 201);
  /* justify-content: center; */
  gap: 20px;
}
.last1{
  width: 50%;
  text-align: center;
}
.last1 img{
  margin-top: 100px;
  /* margin-left: 80px; */
  height: 400px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 100px;
 }
 

.last2{
  width: 50%;
  display: flex;
flex-direction: column;

}

.last2>h1{
  margin-top: 100px;
  font-size: 30px;
}

.last2>p{
 color: black;
 font-size: 20px;
 padding-right:120px ;
}

#email {
  font-size: 100px;
}

.mail{
  height: 50px;
  width: 300px;
  padding: 20px;
  font-size:20px;
  border-radius: 5px; 
}
label{
  font-size: 25px;
}
button{
  
  height: 50px;
  width: 100px;
  background-color: rgb(239, 39, 39);
  color: aliceblue;
  border-radius: 10px;
}
.button1{
 justify-content: start;
}
.