* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100v;
  /* background-color: rgb(134, 76, 76); */
}

.floating-whatapp {
  position: fixed;
  bottom: 20px;
  right: 10px;
}
.floating-whatapp img {
  height: 100px;
  width: 150px;
  animation: zoomIn 0.5s ease infinite alternate;
}
header {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding: 20px 10px;
  margin-top: 20px;
  justify-content: space-between;
  border-radius: 40px;
  box-shadow: 2px 3px 10px grey;
  align-items: center;
}
.logo {
  font-size: 48px;
  animation: upDown 0.5s ease alternate infinite;
}
.logo span {
  color: blue;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 20px;
}
nav ul li a {
  font-size: 24px;
  color: black;
  text-decoration: none;
}
nav ul li a:hover {
  color: blue;
}
nav > button {
  padding: 10px;
  border-radius: 50%;
  background-color: grey;
  color: azure;
  font-size: 24px;
}
#banner {
  display: flex;
  max-width: 1280px;
  margin: 50px auto;
}
.right > img {
  width: 100%;
  height: 100%;
  animation: slideFromRight 1s ease;
}
.left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.left > h2 {
  font-size: 32px;
}
#role {
  color: rgb(0, 17, 255);
}

.left > p {
  font-size: 24px;
  color: grey;
  text-align: justify;
  line-height: 28px;
}
.buttons > button {
  padding: 15px 30px;
  background-color: black;
  color: white;
  font-size: 24px;
  border-radius: 20px;
}
button > a {
  color: aliceblue;
  text-decoration: none;
}
.secondbtn {
  background-color: white !important;
  /* color: black; */
  border: 1px solid black;
}
.secondbtn > a {
  color: black;
}

.title {
  text-align: center;
  font-size: 32px;
  margin: 20px auto;
  background-image: linear-gradient(to right, black, blue);
  background-clip: text;
  color: transparent;
}
section {
  margin: auto;
  max-width: 1280px;
  display: flex;
  gap: 30px;
}
.skill-tech {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px blue;
}
.skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.skill {
  height: 100%;
  width: 100%;
}
#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project {
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px blue;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.project > img {
  width: 100%;
}
.project > button {
  background-color: black;
  color: white;
  font-size: 24px;
  padding: 10px;
  border-radius: 20px;
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px blue;
}
footer {
  margin-top: 20px;
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes upDown {
  100% {
    transform: translateY(-10px);
  }
}

@keyframes zoomIn {
  100% {
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  header {
    flex-direction: column;
    gap: 20px;
    margin: 50px;
  }
  nav {
    flex-direction: column;
  }
  #banner {
    flex-direction: column;
  }
  section {
    margin: 25px !important;
  }
  .right > img {
    display: none;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #skills {
    flex-direction: column;
  }
  #projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  header {
    flex-direction: column;
    gap: 20px;
    margin: 50px;
  }
  nav {
    flex-direction: column;
  }
  #banner {
    flex-direction: column;
  }
  section {
    margin: 40px !important;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #skills {
    flex-direction: column;
  }
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 996px) {
  .right > img {
      width: 400px;
  height: 450px;
  }
  header {
    flex-direction: column;
    gap: 20px;
    margin: 50px;
  }
  /* nav {
    flex-direction: column;
    margin: 10px;
  } */
  #banner {
    flex-direction: row;
    margin: 20px;
    gap: 20px;
  }
  section {
    margin: 40px;
  }
  /* .buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
  } */
}
@media (min-width: 996px) and (max-width: 1024px) {
}
