* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(196, 247, 247);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  background: white;
  height: 400px;
  width: 450px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* align-items: center; */
  border-radius: 10px;
  padding: 10px;
  line-height: 35px;
}
p {
  text-align: center;
}
.d1 input {
  height: 35px;
  width: 100%;
}
h1 {
  margin-top: 20px;
  color: rgb(134, 134, 240);
}
label {
  margin-right: 100px;
}
#email {
  width: 280px;
  font-size: 18px;
  gap: 2px;
}
.inputbox {
  border-radius: 10px;
  height: 30px;
  width: 390px;
}
#pass {
  width: 280px;
  font-size: 18px;
  gap: 2px;
}
button {
  background-color: rgb(99, 99, 228);
  color: aliceblue;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: none;
}
.check {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
h1 {
  text-align: center;
}
