* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  text-align: center;
  font-size: 48px;
  padding: 20px 0px;
  background-color: #c46666;
  color: aliceblue;
}
#categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  max-width: 1280px;
  margin: 50px auto;
}
.category {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  background-color: #c46666;
}
.title {
  text-align: center;
  margin: 20px;
}
.category > img {
  height: 50px;
  border-radius: 50%;
}
#deals {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
  max-width: 1280px;
  gap: 20px;
}
.product > img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  object-position: top;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 20px;
  padding: 20px;
  transition: all 1s ease;
}
.oldPrice {
  text-decoration: 2px solid black line-through;
  margin: 0px 5px;
}
button {
  width: 90%;
  background-color: black;
  padding: 15px 0px;
  color: aliceblue;
  border-radius: 40px 0px 40px 0px;
  transition: all 1s ease;
}
#floating-whatapp {
  position: fixed;
  bottom: 0;
  right: 0;
}
#floating-whatapp img {
  height: 75px;
  mix-blend-mode: multiply;
  mix-blend-mode: color-burn;
}
footer {
  text-align: center;
  font-size: 28px;
  padding: 20px 0px;
  background-color: #c46666;
  color: aliceblue;
  margin-top: 10px;
}
button:hover{
  background-color:#c46666;
  color: black;
  transform: scale(1.01);
}
.product:hover{
  transform: scale(1.1);
}

@media (max-width:375px){
  header {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  #deal{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1280px;
  }


}
  
