#da {
          font-family: 'Times New Roman', Times, serif;
  padding: 10px;
  margin: 10px;
  border: 2px solid blue;
}
.pa {
  color: red;
}
.pb {
  color: blue;
}
.pc {
  color: green;
}
.pd {
  color: orange;
}
.pe {
  color: purple;
}
#db {
          font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  margin: 10px;
  border: 2px dashed red;
}
#dc {
          font-family: 'Courier New', Courier, monospace;
  padding: 10px;
  margin: 10px;
  border: 2px dotted red;
}
#dd {
          font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
  border: 2px solid orange;
}
#de {
          font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  margin: 10px;
  border: 2px solid purple;
}

.ma{
          background-color: rgb(220, 220, 110);
          font-style:italic;
}
.mb{
          background-color: rgb(75, 75, 186);
          font-style:bold;
}
.mc{
          background-color: rgb(79, 182, 79);
          text-decoration: underline;
          
}
.md{
          background-color: rgb(201, 95, 95);
          text-transform: capitalize;
}