 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
   background-color: #051129;
   color: white;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: #051129;
  /* background: transparent; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  position: relative;
  font-size: 45px;
  color: cyan;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
  animation: slideRight 1s ease forwards;
}
.navbar a {
  display: inline-block;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: 0.3s;
  animation: slideTop 0.5s ease forwards;
  animation-delay: calc(0.2s * var(--i));
}
.navbar a:hover {
  color: cyan;
}

.home {
  position: relative;
  width: 100%;
  justify-content: space-between;
  height: 100vh;
  background: rgb(43, 107, 43);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 70px 10% 0;
}
.home-content {
  max-width: 600px;
}
.home-content h3 {
  font-size: 32px;
  font-weight: 700;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2) {
  margin-bottom: 30px;
  animation: slidetop 1s ease forwards;
  animation-delay: 0.7s;
}
.home-content h1 {
  font-size: 56px;
  font-weight: 700;
  margin: -3px 0;
  opacity: 0px;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}
.home-content p {
  font-size: 20px;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: 1.5s;
}
.home-sci a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #0ef;
  border-radius: 50%;
  font-size: 20px;
  color: cyan;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  text-decoration: none;
  margin: 30px 15px 30px 0;
}
.home-sci a:hover {
  background: cyan;
  color: #081b29;
  box-shadow: 0 0 20px cyan;
}
.btn-box {
  display: inline-block;
  padding: 12px 28px;
  background: cyan;
  font-size: 16px;
  color: #081b29;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  border-radius: 40px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan;
}
.btn-box:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 6rem;
  background: rgb(43, 107, 43);
}
about-img img {
  padding-bottom: 20%;
  max-width: 630px;
  height: auto;

  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 20px cyan, 1px 1px 40px cyan;
  animation: slideleft 1s ease forwards;
  animation-delay: 0.5s;
}
.about-text h2 {
  font-size: 60px;
}
.about-text h2 span {
  color: cyan;
}
.about-text h4 {
  font-size: 29px;
  font-weight: 600;
  color: #fff;
  line-height: 1.7;
  margin: 15px 0 30px;
}
.about-text p {
  margin-left: 10%;
  margin-right: 10%;

  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
  align-items: center;
  text-align: center;
}

.services {
  color: aliceblue;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 4rem;
}
.sub-title {
  text-align: center;
  font-size: 60px;
  padding-bottom: 70px;
}
.sub-title span {
  color: #0ef;
}

.container {
  padding: 90px;
  background: rgb(43, 107, 43);
}
.services-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(259px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list div {
  background-color: transparent;
  padding: 40px;
  font-size: 13px;
  font-weight: 13px;
  border-right: 10px;
  border-radius: 20px;
  transition: background 0.5s, transform 0.5s;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
}

.services-list div i {
  font-size: 20px;
  margin-bottom: 30px;
}
.services-list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services-list div a {
  text-decoration: none;
  color: #081b29;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}
.read {
  display: inline-block;
  padding: 12px 28px;
  background: cyan;
  border-radius: 40px;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  opacity: 0;
  

  animation: slidetop 1s ease forwards;
  animation-delay: 2s;
  box-shadow: 0 0 5px cyan;
}
.read:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.services-list div:hover {
  transform: translateY(-10px);
}
section {
  display: flex;
  flex-wrap: wrap;
 
 
}
.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
  color: white;
  
}
.heading1 {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}
.bars {
  font-size: 23px;
}
.Technical-bars .bar {
  margin-top: 40px 0;
}
.Technical-bars .bar:first-child {
  margin-top: 0;
}
.Technical-bars .bar:last-child{
  margin-bottom: 0;
}
.Technical-bars .bar .info {
  margin-bottom: 5px;
}
.Technical-bars .bar .info span {
  font-weight: 17px;
  font-size: 500;
  animation: showtext 0.5s 1s linear forwards;
  opacity: 0;
}
.Technical-bars .bar .progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 7px;
  background: black;
  animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.Technical-bars .bar .progress-line.span {
  height: 100%;
  background-color: #0ef;
  position: absolute;
  border-radius: 10px;
  animation: animate 1s cubic-bezier(1, 0, 0, 5, 1) forwards;
  transform: scaleX(0);
  transform-origin: left;
}
.progress-line.html .span {
  width: 90%;
}
.progress-line.css .span {
  width: 90%;
}
.progress-line.javascript .span {
  width: 90%;
}
.progress-line.python .span {
  width: 90%;
}
.progress-line.react .span {
  width: 90%;
}

.progress-line span::after {
  position: absolute;
  padding: 1px 8px;
  background-color: #081b29;
  color: aliceblue;
  font-size: 12px;
  border-radius: 3px;
  top: -28px;
  right: -20px;
  animation: showtext 0.5s 1s linear forwards;
}
.progress-line.html span::after{
  content:"90%";
}
.progress-line.css span::after{
  content:"90%";
}
.progress-line.javascript span::after{
  content:"90%";
}
.progress-line.html span::after{
  content:"90%";
}
.progress-line.html span::after{
  content:"90%";
}
.progress-line span::before{
  content: "";
  position:absolute;
  width: 0;
  height: 0;;
  border: 7px solid transparent;
  border-bottom-width:0px;
  border-right-width:0px ;
  top: -10px;
  right: 0;
  animation: ;
}
.progress-line .sub-title {
  background: rgb(43, 107, 43);
}
.contact {
  background: rgb(43, 107, 43);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  padding-left: 30px;
}
.contact-text h2 {
  font-size: 90px;
  line-height: 1;
  text-align: center;
}
.contact-text h2 span {
  margin: 15px 0;
  color: cyan;
  font-size: 90px;
  font-weight: 680;
}
.contact-text h4 {
  font-size: 30px;
}
.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.contact-list {
  margin-bottom: 3rem;
}
.contact-list li {
  margin-bottom: 10px;
  display: block;
}
.contact-list i {
  display: inline-block;
  color: cyan;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
}
.contact-list li a:hover {
  transform: scale(1.01) translateY(-5px);
  color: cyan;
}
.contact-icon i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid cyan;
  border-radius: 50%;
  font: size 20px;
  color: cyan;
  text-decoration: none;
  margin: 30px 15px 30px 0;
  transition: 0.5s ease;
  opacity: 0;
  animation: slideleft 1s ease forwards;
  animation-delay: calc(0.2s * var (--i));
}
.contact-icon i:hover {
  background: cyan;
  color: black;
  box-shadow: 0 0 20px #0ef;
}
.contact-form form {
  position: relative;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 90%;
  padding: 18px;
  background: #555557;
  color: black;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact-form textarea {
  resize: none;
  height: 220px;
}

.contact-form form .send:hover {
  box-shadow: 0 0 5px cyan, 0 0 25px cyan, 0 0 50px cyan, 0 0 100px cyan,
    0 0 200px cyan;
}
.last-text p {
  width: 100%;
  text-align: center;
  padding: 25px;
  background: rgb(117, 236, 236);
  font-weight: 300;
  margin-top: 70px;
}
.top {
  bottom: 2.1rem;
  right: 2, 1 rem;
}
.top i {
  background: rgb(43, 107, 43);
  color: black;
  background: cyan;
  font-size: 20px;
  padding: 10px;
}
