*{
          margin: 0;
          padding: auto;
          box-sizing: border-box;
          font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
          color: white;
          background: blue;
}
.sub-title{
          text-align: center;
          font-size: 60px;
          padding-bottom: 70px;
          padding-top: 30px;
}
.sub-title span{
          color:cyan;

}
section{
          display: flex;
}
.container1{
          width: 600px;
          height: 500px;
          padding: 75px 90px;
          margin-left: 120px;
}
.heading{
          text-align: center;
          text-decoration: underline;
          text-underline-offset:10px ;
          text-decoration-thickness: 5px;
          margin-bottom: 50px;
}
.bar{
              font-size:23px;

}
.Technical-bars .bar* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  color: white;
  background: blue;
}

.sub-title {
  text-align: center;
  font-size: 60px;
  padding: 30px 0 70px;
}
.sub-title span {
  color: cyan;
}

section {
  display: flex;
  justify-content: center;
}

.container1 {
  width: 600px;
  height: 500px;
  padding: 75px 90px;
  margin-left: 120px;
}

.heading {
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 10px;
  text-decoration-thickness: 5px;
  margin-bottom: 50px;
}

.Technical-bars .bar {
  margin: 40px 0;
}

.bar i {
  font-size: 25px;
  margin-right: 10px;
}

.info span {
  font-size: 18px;
  font-weight: 600;
}

.progress-line {
  position: relative;
  border-radius: 10px;
  width: 100%;
  height: 8px;
  background: black;
  margin-top: 5px;
  overflow: hidden;
}

.progress-line span {
  height: 100%;
  background-color: cyan;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 1s forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}

/* Different skill widths */
.progress-line.html span { width: 90%; }
.progress-line.css span { width: 80%; }
.progress-line.javascript span { width: 75%; }
.progress-line.java span { width: 85%; }
.progress-line.react span { width: 70%; }

.Technical-bars .bar{
          margin: 40px 0;
}
.Technical-bars .bar:first-child{
          margin-top: 0;
}
.Technical-bars .bar:last-child{
          margin-bottom: 0;
}
.Technical-bars .bar .info{
          margin-bottom: 5px;
}
.Technical-bars.bar .info .span{
          font-size: 17px;
          font-weight: 500;
          animation: showText 0.5s 1s linear forwards;
          opacity: 0;
}
.Technical-bars .bar .progress-line{
          position: relative;
          border-radius: 10px;
          width: 100%;
          height: 5px;
          background: black;
}
@keyframes animate {
          100%{
                    transform: scaleX(1);
}}
.Technical-bars .bar .progress-line span{
          height: 100%;
          background-color: cyan;
          position: absolute;
          border-radius: 10px;
}
.radial-bars {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.radial-bar {
  width: 45%;
  height: 170px;
  margin-bottom: 20px;
  position: relative;
}

.radial-bar svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 120px;
  height: 160px;
}

.progress-bar {
  stroke-width: 10;
  stroke: black;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  animation: animate-bar 1s linear forwards;
}

@keyframes animate-bar {
  100% {
    stroke-dashoffset: -1;
  }
}

.path {
  stroke-width: 10;
  stroke: cyan;
  fill: transparent;
  stroke-dasharray: 502;
  stroke-dashoffset: 502;
  stroke-linecap: round;
}

/* Each circle path animation */
.path-1 { animation: animate-path1 1s 1s linear forwards; }
.path-2 { animation: animate-path2 1s 1s linear forwards; }
.path-3 { animation: animate-path3 1s 1s linear forwards; }
.path-4 { animation: animate-path4 1s 1s linear forwards; }

/* Different progress percentages */
@keyframes animate-path1 { 100% { stroke-dashoffset: 50; } }   /* 90% */
@keyframes animate-path2 { 100% { stroke-dashoffset: 80; } }   /* 85% */
@keyframes animate-path3 { 100% { stroke-dashoffset: 125; } }  /* 80% */
@keyframes animate-path4 { 100% { stroke-dashoffset: 175; } }  /* 75% */

.radial-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  font-weight: 600;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

.radial-bar .text {
  width: 100px;
  position: absolute;
  text-align: center;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  font-size: 17px;
  font-weight: 500;
  animation: showText 0.5s 1s linear forwards;
  opacity: 0;
}

@keyframes showText {
  100% { opacity: 1; }
}
