*{
          margin: 0;
          padding:0;
          box-sizing: border-box;
          /* background-color: rgba(203, 232, 134, 0.777); */
          
}
.a{
        margin: 10px;
        text-align: center;
        /* margin-left: 700px; */
}
img{
          margin-left: 40%;
          /* text-align: center;
          justify-content: center; */
          height: 300px;
          width: 450px;
         
          box-shadow: 5px 10px 50px rgb(54, 51, 35);
          

}
.fig{
          margin-top: 30px;
          /* border-radius: ; */
          border:5px solid black;
          /* border-radius: 50px; */
          /* border-radius: 20%; */
       box-shadow: 5px 10px 50px gold; 
}
.para{

          text-align: center;
          margin-top: 30px;
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 10px;
}
.b{
          margin-left: 20px;
          font-weight: 50px;
          text-decoration: underline;
          /* font-family; */
}
.c{
          text-decoration: dotted;
}