* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
}
.box {
  /* height: 100px; */
          /* width: 100px; */
  background-color: green;
}
#box1{
 grid-area: 1/1/3/4;
}

